<div class="sobre-container">
    <h1>Sobre Nós</h1>
  
    <p>
      Nossa loja nasceu da paixão pelos consoles clássicos que marcaram gerações: o <strong>Super Nintendo</strong>,
        <strong>PlayStation 1</strong> e <strong>Dreamcast</strong> homenageamos a era de ouro dos videogames, 
        com um olhar especial para os títulos que não apenas marcaram a história da Sony e da SNES, mas também conquistaram 
        um lugar eterno no coração dos jogadores. Nosso compromisso é preservar e celebrar essa rica herança, 
        conectando gerações através da nostalgia e da paixão pelo universo dos games"
    </p>
  
    <p>
      "Nós somos especializados na venda e manutenção de consoles, jogos e acessórios originais,
       oferecendo qualidade e confiabilidade em cada produto e serviço. Atendemos colecionadores exigentes,
        jogadores apaixonados pela nostalgia dos clássicos, e todos que desejam reviver experiências
         marcantes com títulos icônicos como <em>Final Fantasy VII</em>,
      <em>Super Metriod</em>, <em>Legend Of Mana</em> ou <em>Legend of Legaia</em>, Com uma seleção cuidadosamente preparada 
      para atender as suas expectativas e alimentar a sua paixao pelo universso gamer.
    </p>
  
    <p>
      "Nosso compromisso é oferecer produtos de excelência, cuidadosamente testados e acompanhados 
      de garantia para assegurar a plena satisfação de nossos clientes. Mais do que isso,
       nossa paixão pelo universo gamer é o que nos diferencia: buscamos criar experiências memoráveis
        através de um atendimento dedicado, que compartilha o entusiasmo e a nostalgia desse segmento. 
        Estamos aqui para transformar cada interação em uma oportunidade de conectar pessoas à sua paixão
         pelo mundo dos games clássicos." 
    </p>
  
    <hr>
  
    <p><strong>Desenvolvedor:</strong> Daniel C Andrade</p>
    <p><strong>RA:</strong>237010</p>
  </div>
  